

{% extends 'base.html.twig' %}

{% block title %}Les annonces{% endblock %}

{% block body %}
    <h1>Annonces</h1>
    <div class="container d-flex align-items-center justify-content-center">
    </div>
    <div class="mdc-touch-target-wrapper">
        <a class="mdc-button mdc-button--touch" href="{{ path('annonce_asc')}}">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Prix croissants</span>
            <span class="mdc-button__touch"></span>
        </a>
    </div>
    <div class="mdc-touch-target-wrapper">
        <a class="mdc-button mdc-button--touch" href="{{ path('annonce_desc')}}">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Prix décroissants</span>
            <span class="mdc-button__touch"></span>
        </a>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="mdc-touch-target-wrapper">
            <a class="mdc-button mdc-button--touch" href="{{ path('annonce_new')}}">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Nouvelle annonce</span>
                <span class="mdc-button__touch"></span>
            </a>
        </div>
    {% endif %}
        <div class="mdc-data-table">
            <div class="mdc-data-table__table-container">
                <table class="mdc-data-table__table" aria-label="Dessert calories">
                    <thead>
                    <tr class="mdc-data-table__header-row">
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Nom</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Description</th>
                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Prix</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Catégorie</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="mdc-data-table__content">
                    {% for annonce in annonces %}
                        <tr class="mdc-data-table__row">
                            <td class="mdc-data-table__cell" scope="row">{{ annonce.nom }}</td>
                            <td class="mdc-data-table__cell">{{ annonce.description }}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{ annonce.prix }}</td>
                            <td class="mdc-data-table__cell" scope="row">{{ annonce.categorie.nom }}</td>
                            <td class="mdc-data-table__cell">
                              <div class="mdc-touch-target-wrapper">
                                <a class="mdc-button mdc-button--touch" href="{{ path('annonce_show', {'id': annonce.id}) }}">
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">Visualiser</span>
                                    <span class="mdc-button__touch"></span>
                                </a>
                              </div>
                                <div class="mdc-touch-target-wrapper">
                                    <a class="mdc-button mdc-button--touch" href="{{ path('annonce_edit', {'id': annonce.id}) }}">
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">Modifier</span>
                                        <span class="mdc-button__touch"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="mdc-data-table__row">
                            <td class="mdc-data-table__cell" colspan="5">Aucune annonce</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
